html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    padding: 0 1svw 0 1svw;


    .blue-text {
        color: rgba(58, 81, 153, 1);
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 2svh;

    .header-logo {
        border-radius: 100%;
        height: 100px;
    }

    a {
        font-weight: bold;
        font-size: 20px;
        border-radius: 10px;
        padding: 4px;
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        transition: all 0.3s ease-in-out;
        background-color: rgba(58, 82, 153, 0.342);
    }
}

.header-links {
    display: flex;
    align-items: center;
    gap: 1svw;


    a {
        margin: 0 1svw 0 1svw;
    }
}

.header-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1svw;
}

.welcome {
    background-color: rgba(233, 233, 232, 1);
    display: flex;
    padding: 0 5svw 0 5svw;
    justify-content: space-between;

    img {
        height: 500px;
    }
}

.welcome-textblock {
    display: flex;
    flex-direction: column;
}


.welcome-buttons {
    display: flex;
    justify-content: left;
    gap: 2svw;
    height: 60px;
    cursor: pointer;

    div {
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: translateY(-3px);
            filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.295));
        }
    }
}

.welcome-text {
    width: 900px;

    h1 {
        font-size: 64px;
        margin-bottom: 2px;
    }

    h2 {
        font-size: 28px;
        margin-top: 10px;
    }
}

.welcome-join {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 45px 20px 45px;
    background-color: rgba(58, 81, 153, 1);
    border-radius: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.welcome-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px 20px 25px;

    border-radius: 25px;
    font-weight: bold;
    border: 4px solid black;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        font-size: 64px;
        margin: 20px 0 60px 0;
    }
}

.news-blocks {
    display: flex;
    gap: 5%;
    
    
    img {
        max-width: 100%;
        height: auto;
        border-radius: 20px 20px 0px 0px;
    }
    
    @media(max-width: 702px) {
        img {
            display: none;
        }
    }
    
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        background-color: rgba(233, 233, 232, 1);
        text-align: center;
    }

    h4, p {
        margin: 5%;
    }

    a {
        text-decoration: underline;
        font-weight: bold;
    }
}
