html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;

    a {
        text-decoration: none;
        color: inherit;
    }

    .blue-text {
        color: rgba(58, 81, 153, 1);
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5svw 0 5svw;

    margin-bottom: 1svh;

    .header-logo {
        border-radius: 100%;
        height: 100px;
    }

    a {
        font-weight: bold;
        font-size: 20px;
    }
}

.header-links {
    display: flex;
    align-items: center;
    gap: 1svw;


    a {
        margin: 0 1svw 0 1svw;
    }
}

.header-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1svw;
}

.welcome {
    background-color: rgba(233, 233, 232, 1);
    display: flex;
    padding: 0 5svw 0 5svw;
    justify-content: space-between;

    img {
        height: 500px;
    }
}

.welcome-textblock {
    display: flex;
    flex-direction: column;
}


.welcome-buttons {
    display: flex;
    justify-content: left;
    gap: 2svw;
    height: 60px;
    cursor: pointer;

    div {
        transition: all 0.3s ease-in-out;

        &:hover {
            transform: translateY(-3px);
            filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.295));
        }
    }
}

.welcome-text {
    width: 900px;

    h1 {
        font-size: 64px;
        margin-bottom: 2px;
    }

    h2 {
        font-size: 28px;
        margin-top: 10px;
    }
}

.welcome-join {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 45px 20px 45px;
    background-color: rgba(58, 81, 153, 1);
    border-radius: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.welcome-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px 20px 25px;

    border-radius: 25px;
    font-weight: bold;
    border: 4px solid black;
}